#iconToday {
  width: 100px;
  height: 100px;
}
.temperatureDiv {
  font-size: 3.5em;
}
#styleGiver {
  max-width: 1000px;
  margin-top: 50px;
  padding: 20px;
}
h3 {
  padding: 20px;
}
#currentPositionDiv {
  padding-top: 10px;
}
#searchFormDiv {
  padding: 10px;
  vertical-align: text-bottom;
}
#weatherRow {
  padding-top: 15px;
}
#unitsDiv {
  font-size: 2em;
  text-align: top;
  vertical-align: text-top;
}
.secondaryIcon {
  max-width: 60%;
}
#githubLink {
  min-height: 100px;
  padding-top: 70px;
}
